<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Profile :</strong>
  <%= link_to @user.profile_image.filename, @user.profile_image if @user.profile_image.attached? %>
</p>
